.intro {
    font-family: cursive;
    font-size: 25px;

}

body {
background-color: darkgray;

}
p {
    color: black;
    font-size: medium;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.vital {
      color: rgb(24, 46, 2);

}

h1 {
    font-weight: 350;
    font-size: xx-large;
}


